.container { display: inline-block; }

.typewriter h1 {

  width: 100%;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40),
             cursor .5s step-end infinite alternate;
}

/* The typing effect */
@keyframes typing {
  100% { width: 0 }
}

/* The typewriter cursor effect */
@keyframes cursor {
  50% { border-color: orange }
}
